<div class="form-group">
  <label>Photo de profil</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-user-circle-o"></i>
    </div>
    <input type="file" name="img" id="" class="form-control custom-file-input">
  </div>
  <!-- /.input group -->
</div>
<!-- /.form group -->

<section class="content-header">
  <h1>
    Utilisateurs
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{ route('userManage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active"><i class="fa fa-user-plus">&nbsp;</i> Nouvel utilisateur</li>
  </ol>
</section>
